/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0%;
}

/* set up the body */
body {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1.5;
  height: 100vh;
  overflow: hidden;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- */
/* Utility classes                 */
/* --------------------- */

:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a744;
  --color-danger: #dc3644;
  --color-warning: #ffc109;
  --color-info: #18a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #ffff;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ---- */

h2 {
  margin-bottom: 50px;
}

.circle {
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  transition: 500ms all ease;
}

.circle.active {
  background-color: var(--color-success);
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 450px;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: var(--color-secondary);
  z-index: -1;
  transition: 300ms all ease;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  background-color: var(--color-success);
  z-index: -1;
  transition: 400ms all ease;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.4rem 1.5rem;
  border-radius: 3px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}
.btn:disabled {
  background-color: var(--color-secondary);
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
